body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03rem;
}

header{
    display: flex;
    background-color: #fff;
    border: #ECECEC solid 1px; 
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #fff;
} 

.current{
    color:#2196F3;
}

.navigation-button{
    display: inline-block;
    font-weight: 500;
    color: #212121;
}

.contact-button{
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
}

nav a {color: #212121; text-decoration: none;} 
.contact a {color: #757575; text-decoration: none;}
header a:hover {color: #2196F3; text-decoration: none;}
a:hover.logo{color: #000; text-decoration: none;}


.main-banner{
    background-color: #2F303A;
    text-align: center;
}

.main-title{
    color: #FFFFFF;
    font-size: 44px;
    width: 900px;
    line-height: 1.36;
    align-self: center;
    font-weight: 900;
    text-transform: uppercase;
}

.main-button{
    cursor: pointer;
    border-radius: 4px;
    background-color: #2196F3;
    align-self: center ;
    color: #fff;
    font-size: 16px;
    line-height: 1.875;
}

.description-fact{
    color: #212121;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-weight: 700;
}


.description-text{
    color: #757575;
    font-weight: 300;
    line-height: 1.72;
}

.what-we-do-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
}

.what-we-do-image{
    display: inline-block;

}

.team{
    background-color: #F5F4FA;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
}

.team-info{
    display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.14);
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.team-description-title{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.team-description-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
}

footer{
    background-color: #2F303A;
    display: block;
    line-height: 1.714;
}

footer a {color: #ffffff99; text-decoration: none;}

.address{
    color:#ffffff;
}

.portfolio{
   background-color: #fff;
}
.portfolio-button-sort{
display: inline-block;
}
.portfolio-button{
    font-family: inherit;
    font-size: 16px;
    font-weight:500;
    line-height: 1.625;
    vertical-align: middle;
    background-color:#F5F4FA; 
    border-radius: 4px; 
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #fff;
}


.works {
    display: inline-block;
    background-color: #fff;
    border: #eee solid 1px;
}

.portfolio-title{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.portfolio-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

