body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03rem;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
    background-color: #fff;
    border-bottom: #ECECEC solid 1px; 
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
}

.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    color: #fff;
} 

.current{
    color:#2196F3;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    list-style-type: none;
}
.navigation-button{
    font-weight: 500;
    color: #212121;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: flex-end;
    list-style-type: none;
}
.contact-button{
    text-decoration: none;
    font-weight: 500;
    color: #757575;
}

nav a {color: #212121; text-decoration: none;} 
.contact a {color: #757575; text-decoration: none;}
header a:hover {color: #2196F3; text-decoration: none;}
a:hover.logo{color: #000; text-decoration: none;}


.main-banner{
    display: flex;
    flex-direction: column;
    background-color: #2F303A;
    text-align: center;
}

.main-title{
    color: #FFF;
    font-size: 44px;
    line-height: 1.36;
    align-self: center;
    font-weight: 900;
    text-transform: uppercase;
}

.main-button{
    font-family: inherit;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #2196F3;
    align-self: center ;
    color: #fff;
    font-size: 16px;
    line-height: 1.875;
}

.description-facts{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    list-style-type: none;
}

.description-fact{
    color: #212121;
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-weight: 700;
}


.description-text{
    color: #757575;
    font-weight: 300;
    line-height: 1.72;
}

.what-we-do-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
}

.what-we-do-images{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    list-style-type: none;
}

.team{
    background-color: #F5F4FA;
}

.team-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: #212121;
}

.team-info-columns{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    list-style-type: none;
}

.team-info{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12);
    box-shadow: 0 1px 1px rgba(0,0,0,0.14);
    box-shadow: 0 2px 1px rgba(0,0,0,0.2);
}

.team-description-title{
    color: #212121;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.team-description-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.footer-info{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    font-style: normal;
}

footer{
    background-color: #2F303A;
    display: block;
    line-height: 1.714;
}

footer a {color: #ffffff99; text-decoration: none;}

.address{
    color:#fff;
}

.portfolio{
   background-color: #fff;
}
.portfolio-buttons{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 8px;
    list-style-type: none;
}

.portfolio-button{
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight:500;
    line-height: 1.625;
    vertical-align: middle;
    background-color:#F5F4FA; 
    border-radius: 4px; 
    border: none;
}

.portfolio-button:hover {
    background-color: #2196F3;
    color: #fff;
}

.works{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    list-style-type: none;  
}
.work{
    background-color: #fff;
    border: #eee solid 1px;
}

.portfolio-title{
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
}

.portfolio-text{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.875;
}

